<div layout="column" class="login-section">
		<md-toolbar layout="row" class="md-hue-3">
		  	<div class="md-toolbar-tools text-center">
		    	<span>Login</span>
		    </div>
		</md-toolbar>
	<md-content layout-padding>
	    <form name="loginForm" ng-model="loginForm" id="loginForm" ng-submit="checkLogin()">
	      <md-input-container class="md-block">
	        <label>Email</label>
	        <input required name="email" ng-model="userData.email" id="email">
	        <div ng-messages="loginForm.email.$error">
	          <div ng-message="required">This is required.</div>
	        </div>
	      </md-input-container>

	      <md-input-container class="md-block">
	        <label>Password</label>
	        <input type="password" required name="password" ng-model="userData.password" id="password">
	        <div ng-messages="loginForm.password.$error">
	          <div ng-message="required">This is required.</div>
	        </div>
	      </md-input-container>

	      <md-input-container class="md-block text-gray">
	        	<strong>Demo:</strong> test@gmail.com/123456
	      </md-input-container>

	      <md-button class="md-raised md-primary pull-right" ng-click="checkLogin()">Login</md-button>
	      <md-button class="md-raised pull-right" ng-click="reset()">Reset</md-button>
	      <input type="submit" style="position: absolute; left: -9999px; width: 1px; height: 1px;"/>
	    </form>
	</md-content>
</div>